<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>AngularJS</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<!-- 		<script src="js/lib/angular/angular.min.js"></script> -->
		<script src="js/services.js"></script>
		<script src="js/controllers.js"></script>
		
		<!-- UI Grid -->
		<script src="js/lib/uigrid/ui-grid.min.js"></script>
		<link rel="styleSheet" href="js/lib/uigrid/ui-grid.min.css"/>
		
		<style type="text/css">
			.myGrid {
				width: 500px;
				height: 250px;
			}
		</style>
	</head>
	<body>
		
		<div ng-controller="testController">
			<h1 ng-bind="message"></h1>
			<div ui-grid="{ data: gridData }" class="myGrid"></div>
			
			<input type="text" ng-model="dummy.id" placeholder="Enter a dummy Id">
			<button ng-click="changeMessage()">Submit</button>
			<br>
			<h1>Name: {{dummy.name}}</h1>
			
			<div>
				Select a object: 
				<select ng-model="selectedDummy" ng-options="dummyObject as dummyObject.name for dummyObject in gridData track by dummyObject.id"></select>
			</div>
			
			
			<table>
				<tr>
					<td>Id</td>
					<td>Version</td>
					<td>Name</td>
					<td>Description</td>
				</tr>
				<tr ng-repeat="dummyObject in gridData">
					<td ng-bind="dummyObject.id"></td>
					<td ng-bind="dummyObject.version"></td>
					<td ng-bind="dummyObject.name"></td>
					<td ng-bind="dummyObject.description"></td>
				</tr>
			</table>
			
			
		</div>
		
	</body>
</html>